.bottom-nav {
  max-width: 430px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(82, 64, 105) 30%,
    rgba(82, 64, 105) 60%,
    rgba(41, 25, 66) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom-nav .nav-container {
  background-color: #0f0a28;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  margin: 8px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 430px;
}

.nav-item-div .active {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: linear-gradient(
    to bottom,
    rgba(82, 64, 105) 30%,
    rgba(82, 64, 105) 60%,
    rgba(41, 25, 66) 100%
  );
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
}

.nav-item {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.nav-item i {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.nav-item span {
  display: block;
  font-size: 12px;
}

.nav-item:hover {
  color: #ffc227;
}

/* Home Css */

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* animate new box */
.new-earnpoint {
  position: absolute;
  animation: append-animate 0.1s linear;
  color: lightgreen;
}

.container {
  max-width: 430px;
  width: 100%;
  background-color: #2c0f34;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  color: white;
}

.topbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  padding: 20px;
}

.progress {
  width: 80%;
  height: 15px;
  margin: 10px auto;
  /* padding: 6px; */
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.progress-striped .progress-bar {
  background-color: #fcbc51;
  background-image: linear-gradient(
    45deg,
    rgb(252, 163, 17) 25%,
    transparent 25%,
    transparent 50%,
    rgb(252, 163, 17) 50%,
    rgb(252, 163, 17) 75%,
    transparent 75%,
    transparent
  );
}

.pro-bar {
  /* padding: 20px 0; */
  text-align: center;
}

.pro-bar .text {
  font-weight: 600;
  text-align: center;
}

.pro-bar .text img {
  margin: 0 15px;
  width: 20px;
}

.Avtar {
  position: absolute;
  left: auto;
  bottom: 0;
  width: 250px;
}

.nav {
  color: white;
}

.coin {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.coin img {
  height: 47px;
  margin-left: 40px;
}

#shadow {
  margin-top: -135px;
  border-radius: 50%;
  width: 270px;
  height: 150px;
  background: black;
  opacity: 0.5;
  -webkit-filter: blur(10px);
  -webkit-transform: scale(1, 0.2);
}

.level {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border: 3px solid #582176;
  border-radius: 50px;
  color: #fff;
  margin-left: 8px;
  padding: 0;
}

.level p {
  font-size: small;
  font-weight: bolder;
  margin-top: 10px;
}

.level i {
  color: #7a2ca3;
}

.level .logo {
  font-size: 25px;
  margin-left: 10px;
}

.level .text {
  width: 100%;
  font-weight: 600;
  margin-top: 4px;
  color: #fff;
  text-align: center;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.moon-bunny {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.moon-bunny img {
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.content {
  height: 90vh;
  background-image: radial-gradient(circle, #582176, #230f2e);
  border-top: 3.5px solid #451062;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding: 10px;
}

/* some extra start*/

.content {
  height: 85vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* some extra end*/

.Boost {
  background-color: #03c04a;
  border-radius: 50px;
  color: #fff;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
}

.Boost p {
  font-weight: bolder;
  margin-bottom: 0;
}

.Boost img {
  height: 20px;
  width: auto;
}

.Boost i {
  margin-left: 8px;
}

.center {
  display: grid;
  justify-items: center;
  position: relative;
  /* margin: 35px 0; */
}

.moon-bunny img {
  height: 40px;
}

.center .coinimg {
  height: 250px;
  width: 250px;
  margin: 20px;
}

/* referral */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 45px;
  margin-bottom: 4px;
  color: #fff;
  display: flex;
  margin-left: 10px;
}

.header-container h2 {
  font-size: 30px;
  color: #fff;
  margin: 20px 0;
}

.list-tile {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to left, #693c94, #d997fe, #693c94);
  border-radius: 25px;
  margin-bottom: 30px;
}

.title-subtitle {
  z-index: 1;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #fff;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
}

.subtitle {
  font-size: 14px;
  color: #ffff;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
}

.circle {
  position: absolute;
  background-color: #e0e0e0;
  border-radius: 50%;
  z-index: 0;
}

.circle.top-left {
  width: 60px;
  height: 60px;
  top: -10px;
  left: -10px;
}

.circle.top-right {
  width: 60px;
  height: 60px;
  top: -20px;
  right: 0px;
}

.circle.middle {
  width: 50px;
  height: 50px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coin-img {
  width: 50px;
  height: 50px;
}

.copy-button-bg {
  background-image: linear-gradient(to bottom, #ffce56 20%, #e59500 80%);
  border-radius: 14px;
}

.copy-button {
  text-decoration: none;
  position: relative;
  border: none;
  border-radius: 12px;
  padding: 12px 14px;
  font-size: 16px;
  color: #fce59f;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
  margin: 5px;
  background-image: linear-gradient(to bottom, #ffd673 20%, #ffc431 80%);
}

.copy-button span {
  text-shadow: 1px 1px 0 #e59500, -1px -1px 0 #e59500, 1px -1px 0 #e59500,
    -1px 1px 0 #e59500, 1px 0 0 #e59500, -1px 0 0 #e59500, 0 1px 0 #e59500,
    0 -1px 0 #e59500;
}

.profile-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #fff;
}

.profile-item {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  background: linear-gradient(
    to bottom,
    rgba(82, 64, 105, 0.8) 30%,
    rgba(82, 64, 105, 0.8) 60%,
    rgba(41, 25, 66, 0.8) 100%
  );
  border-radius: 30px;
}

.number {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.circular-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-title {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
}

.right-content {
  display: flex;
  align-items: center;
}

.coin-image-card {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

h4 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  /* margin: 34px 0 20px 0; */
}

.referral-card {
  position: relative;
  max-width: 400px;
  width: 100%;
  background-color: #2c1b45;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px auto;
}

.referral-card-coin-left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.referral-card-content {
  margin-left: 10px;
}

.referral-card-title {
  font-size: 20px;
  color: #fff;
  margin: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-weight: 700;
}

.referral-card-subtitle {
  font-size: 14px;
  color: #fff;
  margin: 5px 0 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.referral-card-coin-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  clip-path: circle(50% at 50% 50%);
}

/* wallet */

.coming_soon {
  background-color: #ffa500;
  border: 2px solid #d99a22;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* tasks */

.referral-overlay {
  max-width: 400px;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, #c464f9, #2c1b45);
  background-color: #fff;
  height: 92px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.tasks-card {
  position: absolute;
  max-width: 390px;
  width: 100%;
  background-color: #2c1b45;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50.8%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  height: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
}

.referral-container {
  position: relative;
}

.tasks-card-coin-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.task-card-title {
  font-size: 16px;
}

.myrank {
  background: linear-gradient(180deg, #f84646cc 30%, #ff0000cc 60%, #a08b8bcc);
}

/* animation */

.scaled {
  transform: scale(0.9);
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
    transform: translateX(+20px);
  }
}

.new-earnpoint {
  position: absolute;
  font-size: 30px;
  animation: fadeUp 1s ease-in-out forwards;
  pointer-events: none;
  transition: transform 0.2s ease-in-out;
  color: green;
  font-weight: 800;
  z-index: 99999;
}

/* fight screen */

.box {
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
}

.box2_top {
  margin-left: 100px;
  margin-right: 100px;
}

.coin img {
  position: relative;
  height: 47px;
  margin-left: 60px;
}

.center {
  display: grid;
  justify-items: center;
  position: relative;
}

.contentfight {
  background-image: radial-gradient(circle, #f218bf, #230f2e);
  border-top: 3.5px solid #f704d3;
  /* padding: 32px; */
}

.level .logo {
  font-size: 20px;
  margin-left: 12px;
}

.level .text {
  font-weight: 600;
  margin-top: 4px;
  color: #fff;
}

.boxes {
  display: flex;
  align-items: center;
}

.diamond {
  height: 20px;
  width: 23px;
  margin-left: 20px;
  margin-right: -8px;
}

.p {
  margin-top: 10px;
}

.bolt {
  display: flex;
  align-items: center;
  width: 80px;
  background-color: #9f2c84;
}

.right {
  height: 55px;
  /* margin-top: 70px; */
  cursor: pointer;
}

.fighter {
  height: 240px;
  z-index: 10;
}

.left {
  height: 55px;
  cursor: pointer;
}

#shadow {
  border-radius: 50%;
  width: 295px;
  height: 150px;
  background: black;
  opacity: 0.5;
  -webkit-filter: blur(10px);
  -webkit-transform: scale(1, 0.2);
}

h4 {
  margin-top: -50px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #130918;
  border-radius: 50px;
  border: 1px solid rgba(207, 207, 207, 0.336);
  margin-bottom: 8px;
}

.circles {
  background-color: #fff;
  height: 38px;
  width: 38x;
  border-radius: 50%;
}

.box1 {
  display: flex;
  align-items: center;
}

.box1 img {
  height: 38px;
}

.box1 h6 {
  margin-left: 8px;
  marigin-bottom: 0;
  font-size: 14px;
}

.box2 {
  height: 17px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 p {
  margin-left: 8px;
  margin-top: 16px;
}

.box3 {
  display: flex;
  height: 20px;
  width: 20px;
}

.box3 h6 {
  margin: 0 0 0 3px;
}

.box4 {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.box4 img {
  height: 30px;
  width: 30px;
}

.bottom-upgrade {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.bottom-upgrade img {
  height: 63px;
  width: 130px;
}

.menu {
  position: relative;
}

.shadow-fighter {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
}

@media (max-width: 360px) {
  .menu {
    height: 150px;
    margin-top: 30px;
  }
  .action {
    height: 51px;
  }

  h4 {
    margin-top: -32px;
    font-size: 20px;
  }
  .bottom-upgrade img {
    height: 50px;
    width: 110px;
  }
  #shadow {
    height: 133px;
  }
  .center {
    height: 200px;
    bottom: 45px;
  }
  .Avtar {
    width: 200px;
    bottom: -57px;
  }
  .center .coinimg {
    height: 210px;
    width: 210px;
  }
  .coin img {
    height: 40px;
  }
  .level {
    height: 33px;
    width: 82px;
  }
  .fighter {
    height: 200px;
    top: 68px;
  }
  .Boost {
    display: flex;
    height: 31px;
    width: 74px;
  }
  .level {
    height: 30px;
    width: 72px;
  }
}

@media (max-width: 320px) {
  .nav {
    width: 250px;
  }

  .boost {
    margin-left: 10px;
    margin-top: 15px;
  }

  .level {
    margin-left: 10px;
    margin-top: 15px;
  }

  .box {
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
  }

  .box2_top {
    margin-left: 50px;
    margin-right: 50px;
  }

  .section h6 {
    margin-top: 15px;
    margin-left: 10px;
  }
}

/* fighter */

.inner-box {
  margin-left: -8px;
  width: 425px;
  height: 698px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('https://img.freepik.com/free-vector/night-starry-sky-background_23-2148052059.jpg');
  background-size: cover;
  padding: 20px;
}

.inner-box .first {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inner-box #shadow {
  margin-top: -65px;
  border-radius: 50%;
  width: 360px;
  height: 125px;
  background: black;
  opacity: 0.5;
  -webkit-filter: blur(10px);
  -webkit-transform: scale(1, 0.2);
}

.fighters {
  display: flex;
  margin: 60px 0;
  justify-content: space-between;
}

.fighter1 {
  position: relative;
  transition: top 0.2s ease;
}

.fighter1 img,
.fighter2 img {
  height: 250px;
}

.fighter2 {
  position: relative;
  transition: top 0.2s ease;
}

.fighter1 .lightning {
  position: absolute;
  width: 35px;
  height: 30px;
  background-image: url('./assets/lightning.png');
  background-size: cover;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 10;
  animation: anim 1s infinite;
}

.fighter2 .lightning {
  position: absolute;
  width: 35px;
  height: 30px;
  background-image: url('./assets/lightning.png');
  background-size: cover;
  pointer-events: none;
  transform: scaleX(-1) !important;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 10;
  animation: anim2 1s infinite;
}

.shield {
  position: absolute;
  width: 95px;
  height: 95px;
  background-image: url('./assets/shield.png');
  background-size: cover;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease, left 0.5s ease,
    top 0.5s ease;
  z-index: 10;
}

.shield.show {
  opacity: 1;
  transform: scale(1);
}

@keyframes anim {
  0% {
    left: 80px;
  }

  100% {
    left: 300px;
  }
}

@keyframes anim2 {
  0% {
    right: 80px;
  }

  100% {
    right: 300px;
  }
}

.lightning.show {
  opacity: 1;
  transform: scale(1);
}

.inner-box .circlesBox {
  display: flex;
}

.others {
  margin-left: 250px;
  margin-top: -22px;
}

.circle-image {
  height: 37px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.middle {
  margin-left: 20px;
}

.inner-box .progress {
  width: 28%;
  height: 4px;
  margin: auto;
  border-radius: 6px;
  border-radius: 10px;
}

.inner-box .progress-bar {
  background-color: #f838be;
  padding: 1%;
  text-align: right;
  border-radius: 15px;
  width: 80%;
}
